<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="cn" connectionString="server=(localdb)\MyDDBB;database=IG_Crypto;Integrated Security=SSPI"/>
    <!--add name="cn" connectionString="server=(Localdb)\MyDDBB;database=IG_Crypto;Integrated Security=SSPI"/> -->
    <!--<add name="WGFOLTP" connectionString="Data Source=BCA\BCASQL;Initial Catalog=WGFOLTP;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="Default User" value="Comany Name (DABS)"/>
    <add key="TimeToLock" value="180"/>
    <add key="APPLICATION_NAME" value="DABS- Data Management System"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>